.btn {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  text-transform: capitalize;
  border-radius: 0.75rem;
}

.primary {
  background-color: var(--btn-color);
  border: 1px solid var(--btn-color);
  color: #2E2E2E;
}
.secondary {
  background-color: var(--btn-color);
  border: 1px solid var(--btn-color);
  color: #FDFDFD;
}
.outline {
  background-color: #FDFDFD;
  border: 1px solid var(--btn-color);
  color: var(--btn-color);
  border-radius: 2.25rem;

}
.small {
  padding: 1.63rem 1rem;
  font-size: 0.5rem;
  font-weight: 500;
}
.medium {
  padding: 0.875rem 1.5rem;
  font-size: 1rem;
  font-weight: 500;
}
.large {
  padding: 1.625rem 2.5rem;
  font-size: 1.5rem;
  font-weight: bold;
}
.pink {
  --btn-color: #E4A0B7;
}
.teal {
  --btn-color: #7DCFB6;
}
